form {
    ion-card {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      //max-width: 400px;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
      border: 1px solid #e1e1e1;
      padding: 24px;
      ion-select{
        margin-top: 10px;
      }
      ion-input{
        margin-top: 10px;
      }

    }
}

.input-type{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 10%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;

}

.item-loc{
  margin-top: 10px;
}

.class-title{
  margin-top: 2%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: "primary";
}

.center-button {
    margin: 25px;
    text-align: center;
  }

  .class-center{
    text-align: center;
  }

  .center-container {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    background: linear-gradient(to bottom right, red 0%, red 25%, transparent 25%, transparent 75%, red 75%, red 100%);
    height: 100%;
  }
  
  canvas {
    display: block;
    width: 500;
    height: auto;
    touch-action: none;
  }


  swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200);
    --swiper-pagination-color: var(--ion-color-primary);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }








  