<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Offres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">offres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-col>
      <div class="ion-text-center">
        <ion-button (click)="onClickFIXEJDIDBOX()">FIXE JDID BOX</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
      <ion-button (click)="onClickFLASHBOX()">FLASH BOX</ion-button>
    </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-button (click)="onClickSUPERBOX()">Super BOX</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-button (click)="onClickFBOX()">FAST+BOX</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <ion-button (click)="onClickFASTBOX()">FASTBOX</ion-button>
      </div>
    </ion-col>
  </ion-list>
</ion-content>