
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Raccordement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="fastBox" (ngSubmit)="submit()">
    <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [pagination]="true"
      >
      <swiper-slide>
        <ion-card>
          <ion-label>Offres:</ion-label>
          <ion-select formControlName="offres" label="offres" label-placement="floating" fill="outline" errorText="offres">
            <ion-select-option value="Oneplay">Oneplay</ion-select-option>
          </ion-select>

          <ion-select formControlName="debit" label="Debit" label-placement="floating" fill="outline" errorText="Débit requis">
            <ion-select-option value="8G">8G</ion-select-option>
            <ion-select-option value="12G">12G</ion-select-option>
          </ion-select>
          <ion-item
          (click)="goNext()"
          lines="none">
            <ion-buttons  slot="end">
                Page suivante
              <ion-button color="success">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <div class="ion-text-center">
            <ion-button (click)="Suivant()" type="button"
            [disabled]="!fastBox.valid"
            type="submit"
            shape="round"
            expand="block">Suivant</ion-button>
          </div>
        </ion-card>



      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <ion-item>
            <ion-text slot="start">MondatTT</ion-text>
            <ion-icon name='camera' slot="end" (click)="captureImages()"></ion-icon>
            <ion-button slot="end" (click)="exitCapture()">Exit</ion-button> <!-- Ajout du bouton "Exit" -->

          </ion-item>
          <div *ngIf="imageSource">
            <img [src]="imageSource" alt="Captured Image with Date and Time">
          </div>

        </ion-card>
        <ion-item
        (click)="goPrev()"
        lines="none">
       <ion-buttons  slot="start">
      <ion-button color="success">
       <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
        Page précédente
        </ion-buttons>
        </ion-item>
        <div class="ion-text-center">
          <ion-button (click)="submitForm()" type="button"
          type="submit"
          shape="round"
          expand="block" >Upload</ion-button>

        </div>
      </swiper-slide>


    </swiper-container>
  </form>
</ion-content>