<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="offres"></ion-back-button>
    </ion-buttons>
    <ion-title>SuperBox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <form  [formGroup]="superbox" (ngSubmit)="submit()">
      <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [pagination]="true"
      >
        <swiper-slide>
          <ion-card>
            <ng-container>
              <ion-select
  formControlName="choix"
  label="Choix"
  label-placement="floating"
  fill="outline"
  name="choix"
  required
>
  <ion-select-option value="15Go/mois">15Go/mois</ion-select-option>
  <ion-select-option value="25Go/mois">25Go/mois</ion-select-option>
  <ion-select-option value="35Go/mois">35Go/mois</ion-select-option>
</ion-select>


              <ion-input
              label="ICCID"
              label-placement="floating"
              fill="outline"
              type="number"
              formControlName="iccid"
              errorText="iccid complet requis"
                >
            </ion-input>

            <ion-input
            label="Numero de serie:"
            label-placement="floating"
            fill="outline"
            type="number"
            formControlName="numeroserie"
            errorText="Numero de serie requis"
            >
          </ion-input>
          <ion-input
          label="Zone de recherche:"
          label-placement="floating"
          fill="outline"
          type="text"
          formControlName="zonerecherche"
          errorText="Zone de recherche requis"
          >
        </ion-input>
        <ion-input
        label="MSISDN:"
        label-placement="floating"
        (input)="onInput($event)"
        fill="outline"
        type="number"
        maxlength="8"
        formControlName="msisdn"
        errorText="MSISDN requis"
      ></ion-input>

          </ng-container>
          </ion-card>
          <ion-item
          (click)="goNext()"
          lines="none">
            <ion-buttons  slot="end">
                Page suivante
              <ion-button color="success">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <div class="ion-text-center">
            <ion-button
            type="submit"
            shape="round"
            expand="block"
            [disabled]="!superbox.valid"

            >Activer</ion-button></div>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ng-container>
              <swiper-slide>
                <ion-item>
                  <label for="nom">Signature Client :</label>
                  <canvas #signaturePad></canvas>
                  <div class="ion-text-center">
                    <ion-buttons>
                      <ion-button (click)="clear()">Clear</ion-button>
                    </ion-buttons>
                  </div>
          </ion-item>
                <ion-item
              (click)="goPrev()"
              lines="none">
             <ion-buttons  slot="start">
            <ion-button color="success">
             <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
              </ion-button>
              Page précédente
              </ion-buttons>
              </ion-item>
                <div class="ion-text-center">
                 <ion-button (click)="Valider() "type="button"
                 type="submit"
                 shape="round"
                 expand="block"
                >Valider</ion-button>
                </div>
              </swiper-slide>



            </ng-container>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </form>

  </ion-content>