swiper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin-top: 0;
  }
  canvas {
    display: block;
    width: 500;
    height: auto;
    touch-action: none;
  }