.custom-header {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
  }

  ion-list-header{
    font-weight: bold;
    color: white;
    background-color: red;
  }

  ion-searchbar{
    margin-top: 2%;
  }