<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-item>
        <ion-select label="Type d'identité" placeholder="ID type" [(ngModel)]="place">
          <ion-select-option value="CIN">CIN</ion-select-option>
          <ion-select-option value="PASSEPORT">PASSEPORT</ion-select-option>
          <ion-select-option value="SEJ">SEJOUR</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" shape="round" expand="block" (click)="valider()">valider</ion-button>

    </ion-toolbar>
</ion-content>