
ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  ion-list {
    margin-top: 0;
  }
  ion-button {
    width: 150px;
  }