<ion-content [fullscreen]="true">

  <div class="title-container">
    <ion-img src="assets/images/logo.png"/>
  </div>



  <ion-text class="text-container" color="grey700">
    Welcome back, you've been missed!
  </ion-text>


  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-card>

      <ng-container *ngIf="submissionType === 'join'">  
        <ion-input 
        #firstName="ngModel"
        label="First Name" 
        label-placement="floating" 
        fill="solid"
        placeholder="Enter your firs name"
          ngModel
          type="text"
          name="firstName"
          required>
      </ion-input>
      <ion-text
      color="danger"
      *ngIf="!firstName.valid && firstName.touched"
      >Please enter your first Name.</ion-text>
      </ng-container>

      <ion-input 
      label="Username" 
      label-placement="floating" 
      fill="solid"
      placeholder="Enter your username"
        #firstNameInput="ngModel"
        ngModel
        type="text"
        name="username"
        required>
    </ion-input>
    <ion-text
    color="danger"
    *ngIf="!firstNameInput.valid && firstNameInput.touched"
    >Please enter your username.</ion-text>

      <ng-container *ngIf="submissionType === 'join'"> 
        <ion-input 
        label="Last name" 
        label-placement="floating" 
        fill="solid"
        placeholder="Enter your last name"
          #lastNameInput="ngModel"
          ngModel
          type="text"
          name="lastName"
          required>
      </ion-input>
        <ion-text
        color="danger"
        *ngIf="!lastNameInput.valid && lastNameInput.touched"
        >Please enter your last name.</ion-text>
      </ng-container>


      
      <ng-container *ngIf="submissionType === 'join'">  
        <ion-input 
        #emailInput="ngModel"
        label="Email" 
        label-placement="floating" 
        fill="solid"
        placeholder="Enter your email"
          ngModel
          type="email"
          name="email"
          required>
      </ion-input>
      <ion-text
      color="danger"
      *ngIf="!emailInput.valid && emailInput.touched"
      >Please enter your email address.</ion-text>
      </ng-container>

      <ng-container *ngIf="submissionType === 'join'"> 
        <ion-input 
        label="Phone number" 
        label-placement="floating" 
        fill="solid"
        placeholder="Enter your phone number"
          #phoneInput="ngModel"
          ngModel
          type="number"
          name="phoneNumber"
          required>
      </ion-input>

        <ion-text
        color="danger"
        *ngIf="!phoneInput.valid && phoneInput.touched"
        >Please enter your phone number.</ion-text>
      </ng-container>





        <ion-input
          label-placement="floating" 
          label="pass"
          #passwordInput="ngModel"
          ngModel
          type="password"
          name="password"
          placeholder="Enter your password"
          fill="solid"
          required
          ></ion-input>
      <ion-text
      color="danger"
      *ngIf="!passwordInput.valid && passwordInput.touched"
      >Please enter your Password.</ion-text>


      <ng-container *ngIf="submissionType === 'join'"> 
        <ion-item>
          <ion-input
          label-placement="floating" 
          placeholder="confirm pass"
          #confirmPasswordInput="ngModel"
          ngModel
          type="{{ showPassword ? 'text' : 'password' }}"
          name="confirmPassword"
          placeholder="Confirm your password"
          fill="solid"
          required
          (ionChange)="validatePassword()"
          ></ion-input>
          <ion-buttons slot="end">
            <button ion-button clear (click)="toggleShowPassword()">
              <ion-icon slot="icon-only" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </button>
          </ion-buttons>
        </ion-item>

  <ion-text
  color="danger"
  *ngIf="!passwordInput.valid && passwordInput.touched"
  >Please confirm your Password.</ion-text>
  <ion-text color="danger" *ngIf="passwordMismatch">Password mismatch</ion-text>
  </ng-container>


      <p *ngIf="submissionType === 'join'" class="terms-and-conditions">
        By clicking Agree & Join, you agree to the Ooredoo
        <ion-text color="primary">User Agreement</ion-text>,
        <ion-text color="primary">Privacy Policy</ion-text>, and
        <ion-text color="primary">Cookie Policy</ion-text>.
      </p>

      <ion-button
        [disabled]="!form.valid"
        type="submit"
        shape="round"
        expand="block"
      >
        {{ submissionType === 'login' ? 'Sign in' : 'Accept & Join' }}
      </ion-button>

      <ion-item lines="none">
        <ion-checkbox label="Remember Me" defaultChecked={true} slot="start" />
        </ion-item>

    </ion-card>
  </form>

  <div class="toggle-text">
    {{ submissionType === 'login' ? 'New to FixedApp' : 'Already on FixedApp' }}
    <ion-text class="toggle-auth-mode" color="primary" (click)="toggleText()">
      {{ submissionType === 'login' ? 'Join now' : 'Sign in' }}
    </ion-text>
  </div>

</ion-content>