<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="activer"></ion-back-button>
    </ion-buttons>
    <ion-title>Interface d'activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-title 
    color="primary" 
    class="class-title" 
    size="large">Activation</ion-title>
  </ion-card>

  <form [formGroup]="prospector" (ngSubmit)="onSubmit()">

  <ion-card>

    <h2>Remplir les données necéssaires du client:</h2>

    <ion-item class="item-loc" button="" (click)="getActualPosAlert('Confirmation', 'Voulez vous vraiment récupérer vos coordonnées actuelles?')">
      <ion-buttons >
        <ion-text>Récupérer les coordonnées du site actuel</ion-text>
        <ion-icon     
         name="locate" slot="end" color="success">
        </ion-icon>
      </ion-buttons> 
    </ion-item>

    <ion-item class="item-loc" button="" (click)="openMap()">
      <ion-buttons >
        <ion-text>Récupérer les coordonnées d'aprés la carte</ion-text>
        <ion-icon     
         name="location" slot="end" color="success">
        </ion-icon>
      </ion-buttons> 
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-input
          label="Nom"
          label-placement="floating"
           fill="outline"
            placeholder="Nom"
            type="text"
            name="name"
            formControlName="nom"
          required >
        </ion-input>
        <ion-input


          label="Prenom"
          label-placement="floating"
          fill="outline"
          placeholder="Prenom"
          type="text"
          formControlName="prenom"
          required
        >
        </ion-input>

        <ion-item>
          <ion-select label="Type d'identité" placeholder="ID type" formControlName="numeroidentite" >
            <ion-select-option value="CIN">CIN</ion-select-option>
            <ion-select-option value="PASS">PASSEPORT</ion-select-option>
            <ion-select-option value="SEJ">SEJOUR</ion-select-option>

          </ion-select>
        </ion-item>

        <ion-input

          label="Numero d'identite"
          label-placement="floating"
          fill="outline"
          placeholder="Numero d identite"
          type="text"
          formControlName="numeroidentite"
           required
        >
        </ion-input>

        <ion-input
        [(ngModel)]="myDate"
          label="Date de naissance"
          label-placement="floating"
          fill="outline"
          placeholder="Date de naissance"
          type="Date"
          formControlName="naissance"
          required
        >
        </ion-input>

        <ion-input

          label="Gouvernorat"
          label-placement="floating"
          fill="outline"
          placeholder="Gouvernorat"
          type="text"
          formControlName="gouvernorat"
          required
        >
        </ion-input>
        <ion-select 
        placeholder="Tunisien(ne)" 
        label="Nationalité*" 
        label-placement="floating" 
        fill="outline" 
        formControlName="nationalite"
        required>
        <ion-select-option value="TN">Tunisien(ne)</ion-select-option>
        <ion-select-option value="AG">Algerien(ne)</ion-select-option>
        <ion-select-option value="LB">lybien(ne)</ion-select-option>

        </ion-select>
      </ion-col>

      <ion-col size="6">
        <ion-input

          label="Délégation"
          label-placement="floating"
          fill="outline"
          placeholder="Délégation"
          type="text"
          formControlName="delegation"
          required
        >
        </ion-input>

        <ion-input

          label="Localité"
          label-placement="floating"
          fill="outline"
          placeholder="Localité"
          type="text"
          formControlName="localite"
          required
        >
        </ion-input>

        <ion-input

          label="Adresse"
          label-placement="floating"
          fill="outline"
          placeholder="Adresse"
          type="text"
          formControlName="adresse"
          required
        >
        </ion-input>

        <ion-input

          label="Code postal"
          label-placement="floating"
          fill="outline"
          placeholder="Code postal"
          type="text"
          formControlName="codepostale"
          required
        >
        </ion-input>
        <ion-input

  label="Numéro de contact"
  label-placement="floating"
  fill="outline"
  placeholder="Numéro de contact"
  type="tel"
  formControlName="numContact"
  required
>
</ion-input>

<ion-input
  label="Adresse email"
  label-placement="floating"
  fill="outline"
  placeholder="Adresse email"
  type="email"
  formControlName="email"
  required
>
<ion-row>
  <ion-col>
    <ion-input
    label="Latitude*" 
    label-placement="floating" 
    fill="outline"
    type="number"
    readonly
    formControlName="latitude"
    errorText="latitude requise"
    required>
  </ion-input>
  </ion-col>

  <ion-col>
    <ion-input
    label="Longitude*" 
    label-placement="floating" 
    fill="outline"
    type="number"
    readonly
    formControlName="longitude" 
    errorText="longitude requise"
    required>
  </ion-input>
  </ion-col>

</ion-row>

</ion-input>
      </ion-col>
    </ion-row>
  </ion-card>
  <div class="center-container">

<ion-button [disabled]="prospector.invalid" type="submit" shape="round" expand="block">Suivant</ion-button>
</div>

</form>

</ion-content>