
<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-buttons slot="start">
			<ion-button>
                    <ion-img src="assets/images/head.png"/>
			</ion-button>
		</ion-buttons>
        <ion-title>Fixed App</ion-title>
		<ion-buttons slot="end">
			<ion-button id="popover-button" class="bordered" color="dark">
                <ion-icon name="ellipsis-vertical"></ion-icon>            
            </ion-button>
            <ion-popover trigger="popover-button" [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Notifications</ion-item>
                      <ion-item button (click)="onLogout()" [button]="true" [detail]="false" >Déconnection</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
		</ion-buttons>
	</ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true" class="ion-padding">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#ED1C24" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
  </svg>



<div  class="content_div">
    <ion-grid >
        <ion-row>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6" tappable (click)="goto(item)" *ngFor="let item of items ">
                <div class="col_div">
                    <img src="{{item.img}}">
                    <ion-label>{{item.name}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</div>


<ion-modal #modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header style="background-color: #E0E0E0;"  class="ion-no-border">
        <ion-toolbar color="primary">
          <ion-title>Choisir le type d'offre</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

                <div>
                    <ion-row>
                        <ion-col>
                            <div>
                                <img class="pub" src="assets/images/daisy.png">
                            </div>
                        </ion-col>
               
                    </ion-row>
                </div>

        <div class="content_div">
            <ion-grid >
                <ion-row>
                    <ion-col sizeLg="4" sizeMd="4" sizeXs="6" tappable (click)="goToOffer(selection)" *ngFor="let selection of selections ">
                        <div class="col_div">
                            <img src="{{selection.img}}">
                            <ion-label>{{selection.name}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
