.h2-class{
    color: #000000;
    font-size: 24px;
    margin: 50px;
  }
  
  
  ion-button {
    margin-top: 16px;
    height: 48px;
  }

  ion-card{
margin-top: 50%;
margin-bottom: 50%;
margin-right: 5px;
margin-left: 5px;
    position: fixed;
  }

