.h2-class{
    text-align: center;
    color: #000000;
    font-size: 24px;
    margin: 50px;
  }
  
  
  ion-button {
    margin-top: 16px;
    height: 48px;
  }



  ion-card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    //max-width: 400px;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    padding: 2%;
    ion-select{
      margin-top: 10px;
    }

  }



  

