ion-content{
    --ion-background-color:#E0E0E0;
  }
  
  form {
    max-width: 400px;
    margin-top: 50%;
    margin-bottom: 50%;
    ion-card {
      box-shadow: none;
      border: 1px solid #e1e1e1;
      padding: 24px;  

      ion-button {
        margin-top: 16px;
        height: 48px;
      }
    }
  }
  

  
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
  
  .text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  
  }
  
  
  
  
  
  .title-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
  
      .header-text {
      font-size: 36px;
      font-weight: 700;
      }
  
      ion-img{
  
        height: 120px;
        width: 120px;
  
      }
  }