<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
        <ion-title>Validation</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-item>
        <ion-text slot="start">Scanner recto</ion-text>
        <ion-icon 
        name='camera'
        slot="end"
        (click)="takePictureRecto()"
        ></ion-icon>

        <!--
          (click)="toggleInput()"
        -->

      </ion-item>
      <ng-container *ngIf="scanfront === 'is scanned'">
        <ion-img src="{{ImageSourceRecto}}">

        </ion-img>
      </ng-container>

      <ng-container *ngIf="submissionType === 'CIN'">
        <ion-item>
          <ion-text slot="start">Scanner verso</ion-text>
          <ion-icon (click)="takePictureVerso()" 
          name='camera'slot="end"></ion-icon>
        </ion-item>
        <ng-container *ngIf="scanback === 'is scanned'">
          <ion-img src="{{ImageSourceVerso}}">

          </ion-img>
        </ng-container>

      </ng-container>


      <ion-button
        [disabled]="!form.valid"
        type="submit"
        shape="round"
        expand="block"
      >
        {{ submissionType === 'CIN' ? 'Chercher par CIN' : submissionType === 'PASS' ? 'chercher par passeport' : 'chercher par sejour' }}
      </ion-button>


      



    </ion-card>
  </form>


</ion-content>


<!--

      <div>
        <h2>Contract Details</h2>
        <ion-button (click)="fetchContractData()">Get Latest Contract</ion-button>
        <div *ngIf="mage">
          <ion-row>
              <ion-col>
                <img [src]="mage.image1" alt="Contract Image">

              </ion-col>
              <ion-col>
                <img [src]="mage.image2" alt="Contract Image">

              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <img [src]="mage.image3" alt="Contract Image">

            </ion-col>
            <ion-col>
              <img [src]="mage.image4" alt="Contract Image">

            </ion-col>
          </ion-row>


        </div>
      </div>

-->