<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
        <ion-title>Validation</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<form [formGroup]="validationID" (ngSubmit)="onSubmit()">

    <ion-card [class.photo-taken]="photoTaken">
      <ion-item>
        <ion-text slot="start">Scanner recto</ion-text>
        <ion-icon 
        name='camera'
        slot="end"
        (click)="takePictureRecto()"
        ></ion-icon>

        <!--
          (click)="toggleInput()"
        -->

      </ion-item>
      <ng-container *ngIf="scanfront == true">
        <div class="square-image">
          <ion-img formControlName="imageRec" src="{{ImageSourceRecto}}">
          </ion-img>

        </div>

      </ng-container>

      <ng-container *ngIf="submissionType === 'CIN'">
        <ion-item>
          <ion-text slot="start">Scanner verso</ion-text>
          <ion-icon (click)="takePictureVerso()" 
          name='camera'slot="end"></ion-icon>
        </ion-item>
        <ng-container *ngIf="scanback == true">
          <div class="square-image">
            <ion-img formControlName="imageVers" src="{{ImageSourceVerso}}">

            </ion-img>
          </div>

        </ng-container>

      </ng-container>


      <ion-button
        type="submit"
        shape="round"
        expand="block"
      >
        {{ submissionType === 'CIN' ? 'SCANNER CIN' : submissionType === 'PASS' ? 'SCANNER passeport' : 'SCANNER sejour' }}
      </ion-button>


      



    </ion-card>
  </form>

</ion-content>


<!--

      <div>
        <h2>Contract Details</h2>
        <ion-button (click)="fetchContractData()">Get Latest Contract</ion-button>
        <div *ngIf="mage">
          <ion-row>
              <ion-col>
                <img [src]="mage.image1" alt="Contract Image">

              </ion-col>
              <ion-col>
                <img [src]="mage.image2" alt="Contract Image">

              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <img [src]="mage.image3" alt="Contract Image">

            </ion-col>
            <ion-col>
              <img [src]="mage.image4" alt="Contract Image">

            </ion-col>
          </ion-row>


        </div>
      </div>

-->