ion-card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);;
    border: 1px solid #e1e1e1;
    border-radius: 40px 40px 40px 40px;
    padding: 24px;
}
